# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# PyCharm
.idea/

# VS Code
.vscode/

# SQLite DB
jokes.db
*.db

# Env files
.env

# Mac
.DS_Store

# mypy
.mypy_cache/

# docker
.dockerignore
